# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
out/
build/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/dev.db*

# TypeScript
*.tsbuildinfo

# Coverage
coverage/
node_modules
.next
dist
.env
.env.prod
